.about {
  padding: 110px 70px 100px;
  color: #FFF;
  max-width: 1280px;
  margin: 0 auto;
}
.about__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #DADADA;
}
.about__container {
  display: flex;
  padding-top: 66px;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}
.about__name {
  margin: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
}
.about__job {
  margin: 0;
  padding-top: 18px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}
.about__info {
  margin: 0;
  padding-top: 26px;
  max-width: 600px;
  padding-bottom: 120px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.about__link {
  text-decoration: none;
  color: #FFF;
  transition: 0.5s;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.about__link:hover{
  opacity: 0.8;
}
.about__avatar {
  display: block;
  width: 270px;
  height: 327px;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .about {
    padding: 90px 50px;
    color: #FFF;
    max-width: 1280px;
    margin: 0 auto;
  }
  .about__title {
    padding-bottom: 23px;
    border-bottom: 1px solid #DADADA;
  }
  .about__container {
    gap: 50px;
  }
  .about__name {
    font-size: 40px;
    line-height: 40px;
  }
  .about__job {
    padding-top: 16px;
    font-size: 12px;
    line-height: 18px;
  }
  .about__info {
    padding-top: 20px;
    padding-bottom: 87px;
  }
  .about__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
  .about__avatar {
    width: 255px;
    height: 307px;
  }
}
@media screen and (max-width: 430px) {
  .about {
    padding: 70px 14px;
  }
  .about__title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }
  .about__container {
    display: flex;
    padding-top: 60px;
    flex-direction: column-reverse;
    gap: 40px;
  }
  .about__name {
    font-size: 30px;
    line-height: 36px;
  }
  .about__job {
    padding-top: 20px;
    font-size: 11px;
    line-height: 16px;
  }
  .about__info {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 11px;
    line-height: 16px;
  }
  .about__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
  .about__avatar {
    width: 292px;
    height: 357px;
  }
}